.header {
  display: flex;
}

.view-high-score-button {
  color: purple;
  border: none;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
}

.view-high-score-button:hover {
  color: rgb(184, 73, 184);
}

.view-high-score-button:active {
  color: blue;
}

.timer-count {
  position: absolute;
  justify-content: flex-end;
  margin-left: 1640px;
  font-size: 20px;
  font-weight: bold;
}

.card {
  text-align: center;
  margin-top: 100px;
}

.question {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0px;
}

li {
  list-style: none;
}

li button {
  background-color: purple;
  color: white;
  margin: 2px;
  font-size: 30px;
}